html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  
}

.btn-subtle {

}

.btn-ghost {

}

.btn-warning {

}

.btn-small {

}

.btn-subtle-small {

}

.btn-ghost-small {

}

.btn-warning-small {

}

.btn-big {

}

.btn-subtle-big {

}

.btn-ghost-big {

}

.btn-warning-big {

}
