html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
display: inline-block;
text-decoration: none;
background-color: #333;
color: #fff;
font-size: 1.125rem;
border-radius: 8px;
}

.btn:hover {
  background-color: #000;
}

.btn-subtle {
  background-color: #ccc;
  color: #fff;
}

.btn-subtle:hover {
  background-color: #666
}

.btn-ghost {
  background-color: #fff;
  color: #000;
  border: 3px solid #333;
}

.btn-ghost:hover {
  background-color: #666;
}

.btn-warning {
  background-color: #f33;
  color: #fff;
}

.btn-warning:hover {
  background-color: #933;
}

.btn-small {
font-size: .875rem;
}

.btn-big {
font-size: 1.5rem;
}
